.tales {
  width: 100%;
}

.carousel-inner {
  max-width: 24vw;
  min-width: 240px;
}

.carousel-item {
  max-width: 24vw;
  min-width: 240px;
  padding-left: 10px;
  padding-right: 10px;
}

.figma-frame-phone {
  min-width: 300px
}

@media (min-width: 770px) {
  .project-on {
    text-align: right;
  }

  .figma-frame-phone {
    min-width: 400px
  }
}

.figma-frame {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}